<a class="github-logo" href="https://github.com/Floby/dumbal.flo.by" target="_blank">
  <img src="/images/github-icon.svg" alt="Source Code" rel="source-code">
</a>
<span class="hidden-dev-tools">Ah ça t'en bouche un coin !</span>
