{{input
  type=type
  id=(concat elementId '-input')
  name=(concat elementId '-input')
  min=min
  max=max
  autocomplete=autocomplete
  maxlength=maxlength
  value=value}}
{{#if label}}
  <label 
    for="{{concat elementId '-input'}}"
    class="{{if hasValue "not-empty"}}"
  >
    {{label}}
  </label>
{{/if}}
<br>
