{{screen-title title="Copier la partie" navigation="back"}}
<div class="game-export">
  <QrCode class="game-code" @text={{model}} @lightColor="#ffffff00"></QrCode>
  <p>Scanne ce code depuis l'application <strong>Dumbal League</strong> sur un autre téléphone pour copier cette partie</p>
</div>
