@import './theme.less';

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-size: 20px;
}

.screen-title {
  border-top: 0.6em solid @darkPrimaryColor;
  background-color: @primaryColor;
  color: @textPrimaryColor;
  font-weight: bold;
  font-size: 1.2em;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  menu {
    margin-left: .5em;
    padding-top: 0.3em;
    a {
      color: inherit;
    }
    menuitem {
      cursor: pointer;
    }
  }
  h1 {
    white-space: nowrap;
    text-shadow: #2d2d2d 1px 1px 3px;
    display: inline-block;
    margin: 1.5em 1em 0em;
    padding-bottom: 0.6em;
    position: relative;
    transition: 200ms;
    h2 {
      position: absolute;
      min-width: 14em;
      font-weight: lighter;
      font-size: 80%;
      left: 0;
      top: -1.2em;
      animation-name: come-to-top-as-label;
      animation-duration: 200ms;
      animation-timing-function: ease-in;
    }

    &.has-secondary-title {
      animation-name: from-background-color;
      animation-duration: 800ms;
      h2 {
        color: @textPrimaryColor;
      }
    }
  }

  @keyframes from-background-color {
    0% {
      color: @primaryColor;
    }
    20% {
      color: @primaryColor;
    }
    100% {
      color: @textPrimaryColor;
    }
  }

  @keyframes come-to-top-as-label {
    0% {
      font-weight: bold;
      font-size: 100%;
      left: 0;
      top: 0em;
    }
    100% {
      font-weight: lighter;
      font-size: 80%;
      left: 0;
      top: -1.2em;
    }
  }

  menu + h1 {
    margin-left: .5em;
    text-shadow: none;
  }

  .fa-inverse {
    color: @primaryColor;
  }

  position: relative;
  &:after {
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: 1.5em;
    background-image: linear-gradient(
      to left,
      @primaryColor 0%,
      @primaryColor 20%,
      rgba(0, 0, 0, 0) 100%
    );
    right: 0;
    top: 0;
  }
}

.new-game-action {
  text-align: center;
  margin-top: 1em;
}

.game.active {
  .players {
    overflow: auto;
    .player {
      margin-top: 1em;
      padding: 0 1em;
      clear:  both;
      .score {
        float:right;
        font-size: 0.8em;
        min-width: 2em;
        text-align: center;
        display: inline-block;
        background: lightgray;
        border-radius: 0.3em;
        padding: 0.5em;
        color: @secondaryTextColor;
        position: relative;
        transition: .2s ease-out;
      }
      &.is-out {
        .name {
          text-decoration: line-through;
          opacity: 0.5;
        }
        .score {
          background: pink;
        }
        .round-score {
          visibility: hidden;
        }
      }
      .name {
        position: relative;
      }
      &.dumbal .name {
        font-weight: bold;
        color: @darkPrimaryColor;
      }
      a.dumbal-round {
        float: right;
        font-size: 0.8em;
      }

      button.counter {
        float: right;
        font-size: 0.8em;
      }
    }

    .round-score {
      float: right;
      margin-right: 1em;
      width: 2em;
      visibility: hidden;
    }

    &.round {
      .round-score {
        visibility: visible;
      }
      //.score {
        //width: 0;
        //min-width: 0;
        //padding-left: 0;
        //padding-right: 0;
        //color: #ffffffff;
      //}
    }
  }

  .dumbal-action {
    margin-top: 1em;
    clear: both;
    text-align: center;
  }

  &.over {
    .player.winner {
      .name {
        font-weight: bold;
        color: @darkPrimaryColor;
        .winner-icon {
          animation-name: twist-in-with-opacity;
          animation-duration: 1s;
          animation-timing-function: ease-out;
        }
      }
      .score {
        background: white;
        border: @darkPrimaryColor 1px solid;
        color: @primaryColor;
      }
    }
  }
}

@keyframes twist-in-with-opacity {
  0% {
    opacity: 0;
    transform: rotateZ(-720deg);
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
    transform: rotateZ(0deg);
  }
}

.new-game {
  .game-name {
    margin: 2em 0;
    padding: 0 1em;
    .mat-input-container {
      width: 100%
    }
  }

  .player {
    margin-bottom: 1em;
    padding: 0 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .mat-input-container {
      width: 80%;
    }
    button, input[type=submit] {
      width: 3em;
    }
    .name {
      font-weight: bold;
    }
  }

  .new-game-action {
    margin-top: 2em;
  }
}

.games {
  margin-top: 2em;
  margin-left: 1em;
  li {
    margin-bottom: 1em;
  }
}


.refresh-action {
  text-align: center;
  margin-top: 1em;
  p {
    margin: 0 1em 1em;
    opacity: 0.6;
    font-size: 0.7em;
  }
  button {
    font-size: 0.8em;
  }
}
