
.game.active {
  .players {
    overflow: auto;
    .player {
      margin-top: 1em;
      padding: 0 1em;
      clear:  both;
      .score {
        float:right;
        font-size: 0.8em;
        min-width: 2em;
        text-align: center;
        display: inline-block;
        background: lightgray;
        border-radius: 0.3em;
        padding: 0.5em;
        color: @secondaryTextColor;
        position: relative;
        transition: .2s ease-out;
      }
      &.is-out {
        .name {
          text-decoration: line-through;
          opacity: 0.5;
        }
        .score {
          background: pink;
        }
        .round-score {
          visibility: hidden;
        }
      }
      .name {
        position: relative;
      }
      &.dumbal .name {
        font-weight: bold;
        color: @darkPrimaryColor;
      }
      a.dumbal-round {
        float: right;
        font-size: 0.8em;
      }

      button.counter {
        float: right;
        font-size: 0.8em;
      }
    }

    .round-score {
      float: right;
      margin-right: 1em;
      width: 2em;
      visibility: hidden;
    }

    &.round {
      .round-score {
        visibility: visible;
      }
      //.score {
        //width: 0;
        //min-width: 0;
        //padding-left: 0;
        //padding-right: 0;
        //color: #ffffffff;
      //}
    }
  }

  .dumbal-action {
    margin-top: 1em;
    clear: both;
    text-align: center;
  }

  &.over {
    .player.winner {
      .name {
        font-weight: bold;
        color: @darkPrimaryColor;
        .winner-icon {
          animation-name: twist-in-with-opacity;
          animation-duration: 1s;
          animation-timing-function: ease-out;
        }
      }
      .score {
        background: white;
        border: @darkPrimaryColor 1px solid;
        color: @primaryColor;
      }
    }
  }
}

@keyframes twist-in-with-opacity {
  0% {
    opacity: 0;
    transform: rotateZ(-720deg);
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
    transform: rotateZ(0deg);
  }
}

