@import "./reset.less";
@import "./palette.less";

body, button {
  font-family: Roboto, "Open Sans", Ubuntu, sans-serif;
  transition: filter 500ms ease-in-out;
}

body.league-mode {
  filter: grayscale(80%) contrast(120%) hue-rotate(75deg);
}

.disabled-button {
  background: #bbb
}

button, input[type=submit], a.button {
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 100%;
  background: @accentColor;
  background: var(--accent-color);
  border: none;
  text-transform: uppercase;
  color: @inAccentColor;
  color: var(--in-accent-color);
  font-weight: bold;
  padding: 0.5em 1em;
  line-height: normal;

  &[disabled] {
    .disabled-button();
  }
}


*[data-ember-action] {
  cursor: pointer;
}


.mat-input-container {
  display: inline-block;
  //margin-top: 1em;
  font-size: 1.2em;
  position: relative;
  label {
    font-size: 100%;
    position: absolute;
    left: 0em;
    top: 0;
    color: @secondaryTextColor;
    color: var(--secondary-text-color);
    transition: ease-out 0.2s
  }
  input {
    width: 100%;
    outline: none;
    border: none;
    font-size: 90%;
    font-weight: normal;
    color: @primaryTextColor;
    color: var(--primary-text-color);
    padding-left: 0.1em;
    border-bottom: 1px @dividerColor solid;
    border-bottom: 1px var(--divider-color) solid;
  }

  input:focus + label, label.not-empty, input[placeholder] + label {
    color: @primaryColor;
    color: var(--primary-color);
    left: 0.1em;
    top: -1em;
    font-size: 80%;
  }
}
