<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dumbal League</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta rel="icon" type="image/svg" href="/logo.svg">
    <meta id="theme-color-meta" name="theme-color" content="#9c27b0"> <!-- light -->
    <!--<meta name="theme-color" content="#7b1fa2"> [> dark <]-->

    {{content-for "head"}}

    <link integrity="" rel="stylesheet" href="{{rootURL}}assets/vendor.css">
    <link integrity="" rel="stylesheet" href="{{rootURL}}assets/dumbal-league.css">

    {{content-for "head-footer"}}
  </head>
  <body>
    {{content-for "body"}}

    <script src="{{rootURL}}assets/vendor.js"></script>
    <script src="{{rootURL}}assets/dumbal-league.js"></script>

    {{content-for "body-footer"}}
  </body>
</html>
