{{!-- The following component displays Ember's default welcome message. --}}
{{!-- Feel free to remove this! --}}
{{screen-title-content version=version}}
{{outlet}}
{{#if needsRefresh}}
  <div class="refresh-action">
    <p class="legend">Une nouvelle version a été détectée, ce serait bien de rafraichir la page :)</p>
    <button {{action "refreshWindow"}}>
      Mise à jour
    </button>
  </div>
{{/if}}
{{notify-container}}
