{{screen-title title="Doumbal League"}}
<div class="new-game-action">
  {{#link-to 'new-game' (query-params from=null) class="button"}}Nouvelle Partie{{/link-to}}
</div>

<div class="game-list">
  {{#if model.length}}
    <h4>Tes parties :</h4>
    <ul class="games">
      {{#each model as |game|}}
      <li class="game {{if game.archived "archived"}}">
          <div class="go-to">
            {{#link-to 'game' game class="description"}}
              <h5>
                {{game.name}}
              </h5>
              {{player-inline-list players=game.players}}
            {{/link-to}}
            <div class="actions">
              <span class="archive" {{action "archiveGame" game}}>
                {{fa-icon "times-circle" size="lg"}}
              </span>
            </div>
          </div>
        </li>
      {{/each}}
      {{#if hasOnlyArchivedGames}}
        <li class="no-games">
          Tu n'as pas de parties en cours. Démarres-en une et puis ensuite on voit ?
        </li>
      {{/if}}
    </ul>
  {{/if}}
</div>

